body {
  font-family: sans-serif;
  margin: 0; /*gives 0 margin to body*/
  display: flex; /*Enables flexbox*/
  flex-direction: column; /*Directs whole body to arrange in column*/
  align-items: center; /*Align every item under body in center position but horizontally*/
  height: 100vh;
  justify-content: center; /*After declaration of height, justify content brings whlole body at verticle center position*/
  /* background: url("https://c4.wallpaperflare.com/wallpaper/657/791/735/simple-background-nature-mountains-landscape-wallpaper-preview.jpg"); */
  background-size: cover; /*to see whole image*/
  overflow: hidden;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgb(159, 164, 172);
}

.h2e {
  margin-bottom: 90px;
  background-color: rgba(241, 252, 249, 0.599);
  height: 140px;
  width: 550px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.675);
  color: black;
  display: flex;
  justify-content: center; /*for horizontally centering*/
  align-items: center; /*for vertically centering*/
  font-size: 50px;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.clock .text {
  font-size: 15px;
  height: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(240, 255, 255, 0.833);
}

.clock #ampm {
  bottom: 0;
  position: absolute;
  width: 60px;
  height: 30px;
  font-size: 20px;
}
